@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', 'arial';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-containter {
    background: #044B7F;

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #FD9C2A;
        font-weight: bold;
    }

  
    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.hero {
   background: #457A9F;
   color: white;
   text-align: center;
   padding: 4em;
}

.hero-design {
    display: none;
}

.to-scroll {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FD9C2A;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.shelters {
    position: relative;
}

